@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.card-details-page {
  width: 100%;
  min-height: 100vh;
  z-index: 0;
  
  .card-details-page-body-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 24px 0 132px 0;
      .card-details-page-body {
        width: 81%;
      .pag {
        width: 100%;
        font-family: 'EudoxusSansLight';
        cursor: pointer;
        & .pag1{
          font-family: 'EudoxusSansRegular';
        }
      }
    }
  }
}

@media  (max-width: 800px){
  .pag{
    font-size: 14px;
    font-weight: 400;
  }
}

