.visas{
    padding: 16px;
    width: 100%;
    background-color: #F7F7F7;
    .visa-row-1{
        display: flex;
        justify-content: space-between;
        padding: 0 0 44px 0;
        flex-wrap: nowrap;
        .visa-row-1-txt{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: "EudoxusSansMedium";
            & span{
                padding-left: 16px;
            }
        }
    }
    .visa-row-2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}