.footer-container{
    width: 100%;
    background-color: #FAFAFA;
    display: none;
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        padding: 80px 0 80px 0 ;
        &  ul >  li {
            & h4{
                font-family: "EudoxusSansMedium";
            }
            margin-bottom: 4px;
            white-space: normal;
            display: flex;
            align-items: center;
        }
        &  ul >  li a{
            margin-bottom: 4px;
            color:#191919;
            text-decoration: none;
            font-family: "EudoxusSansLight";
        }
        &  ul >  li span{
            margin-right: 30px;
            white-space: normal;
        }

    }
}

@media (max-width: 1260px){
    .footer-container{
        width: 100% !important;
        padding: 24px;
    }
    .footer{
        display: grid !important;
        grid-template-columns: repeat(3 , 1fr) !important;
        gap: 88px !important;
        padding: 0 !important;
    }
}
@media (max-width: 765px){
    .footer-container{
        width: 100% !important;
        padding: 24px;
    }
    .footer{
        display: grid !important;
        grid-template-columns: repeat(2 , 1fr) !important;
        gap: 48px !important;
        padding: 0 !important;
    }
}
@media (max-width: 620px){
    .footer-container{
        width: 100% !important;
        padding: 24px;
    }
    .footer{
        display: grid !important;
        grid-template-columns: repeat(1 , 1fr) !important;
        gap: 8px !important;
        padding: 0 !important;
    }
}