@import "../../../../scss/variables.scss";
.header-container {
  width: 100%;
  // padding: 22px 140px 16px 140px;

  border-bottom: 2px solid rgba(227, 227, 227, 0.2);
  .header {
    width: 100%;
    padding: 22px 10px 12px 10px ;
    .row-1 {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 22px ;

      & .row-1-icons{
        display: flex;
        gap: 18px;
        align-items: center;
        & .row-1-icons-search-icon{
          display: none;
        }
        & .row-1-icons-menu-open{
          cursor: pointer;
          display: none;
        }
      }
    }
    .row-2 {
      
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transform: translateX(0);
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      & .row-2-active-menu-close{
        display: none;
      }
      & .tabs {
        & .tab {
          font-weight: 400;
          margin-right: 24px;
          color: $stylique-grey-3;
          cursor: pointer;
          font-family: 'EudoxusSansLight';
        }
        & .tab:hover {
          border-bottom: 1px solid black;
        }
      }
      select{
        position: relative;
        border: none;
        font-family: 'EudoxusSansLight';
      }
      option{
        position: absolute;
        top: 30px;
        background-color: white;
      }
      select:focus,
      select:hover,
      option:hover,
      option:focus {
        border: none;
        outline: none;
        border: transparent;
      }
    }
  }
}

@media (max-width: 830px){
  .header{
    padding: 50px 0 26px 0 !important;
  }
  .row-1{
    padding-bottom: 0 !important;
    & .row-1-stylique-logo{
      width: 108px !important;
      height: 16px !important;
      display: flex;
      flex-wrap: nowrap;
    }
    & .row-1-search-input{
      display: none !important;
    }
    & .row-1-icons{
      & .row-1-icons-search-icon{
        display: block !important;
      }
      & .row-1-icons-heart-icon{
        display: none;
      }
      & .row-1-icons-user-icon{
        display: none;
      }
      & .row-1-icons-shopping-icon{
        width: 21px !important;
        height: 18px !important;
      }
    }
  }
}


@media (max-width: 1200px){
  .row-2{
    display: none !important;
  }
  .row-2-active{
    padding: 20px 10px;
    overflow-y: scroll !important;
    position: fixed;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important ;
    width: 100% !important;
    height: 100vh !important;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(30);
    background-color: white !important;
    z-index: 10000 !important;
    & .tabs{
      width: 100% !important  ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 5px ;
      & .tab{
        border: 1px solid white;
      }
    }
    & .select-wrapper{
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px !important;
    }

  }
   .row-2-active-menu-close{
    display: block !important;
    position: absolute !important;
    right: 30px;
    top: 30px;
  }
  & .row-1-icons-menu-open{
    cursor: pointer;
    display: block !important;
  }
}