$stylique-red: #e5324b;
$stylique-grey-1: #f7f7f7;
$stylique-grey-2: #464646;
$stylique-grey-3: #191919;
$stylique-grey-4: #d5d9da;
$stylique-grey-5: #a6a0a0;
$stylique-grey-6: #131313;
$stylique-grey-7: #FAFAFA;